<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <title>Adminisztráció</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<%- include ('adminmenu') -%>
<h1 class="text-center">Rendelések</h1>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
        <thead>
        <tr>
            <th scope="col">Megrendelő felhasználóneve</th>
            <th scope="col">Rendelés leadásának dátuma</th>
            <th scope="col">Rendelés megtekintése</th>
            <th scope="col">Eltávolítás</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">laci</th>
            <td>2022.01.18</td>
            <td><a href="vieworder"><span class="glyphicon glyphicon-eye-open"></span></a></td>
            <td><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        <tr>
            <th scope="row">erzsi</th>
            <td>2022.02.28</td>
            <td><a href="#"><span class="glyphicon glyphicon-eye-open"></span></a></td>
            <td><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        </tbody>
    </table>
</div>

<h1 class="text-center">Regisztrált termékek listája</h1>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
        <thead>
        <tr>
            <th scope="col">Termék neve</th>
            <th scope="col">Kategória</th>
            <th scope="col">Ár</th>
            <th scope="col">Darabszám</th>
            <th scope="col">Szerkesztés</th>
            <th scope="col">Eltávolítás</th>
        </tr>
        </thead>
        <tbody>
        <% for (let i = 0; i< products.length; i++){ const product = products[i];  %>
        <tr>
            <th scope="row"><%= product.name%></th>
            <td><%= product.enum%></td>
            <td><%= product.price%></td>
            <td><%= product.quantity%></td>
            <td><a href="/adminpage/products/new/<%= product.id%>"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href="/adminpage/products/delete/<%= product.id%>"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        <% } %>>
        </tbody>
    </table>
</div>

<a class="btn btn-link" href="/adminpage/products/new">Új termék hozzáadása</a>

<h1 class="text-center">Felhasználók listája</h1>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
        <thead>
        <tr>
            <th scope="col">Felhasználónév</th>
            <th scope="col">Jelszó</th>
            <th scope="col">Eltávolítás</th>
        </tr>
        </thead>
        <tbody>
        <% for (let i = 0; i< users.length; i++){ const u = users[i]; %>
        <tr>
            <th scope="row"><%= u.username %></th>
            <td><%= u.password %></td>
            <td><a href="/adminpage/users/delete/:<%= u._id %>"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        <% } %>>
        </tbody>
    </table>
</div>

<a class="btn btn-link" href="/adminpage/users/new/">Új felhasználó hozzáadása</a>

<%- include ('footer') -%>
